@model AddResultsViewModel

@{
    ViewData["Title"] = "AdditionResults";
}

<h2>@Model.AdditionConfirmationMessage</h2>

<a asp-controller="Gym" asp-action="AllLocations" ><button>See Locations List</button></a>