@model LocationsViewModel

@{
    ViewData["Title"] = "AllLocations";
}

    <body class="gymhome">
        <h2>All Locations</h2>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Location Name</th>



                    </tr>
                </thead>
                <tbody>

                    @foreach (var location in Model.Locations)
                    {
                        <tr>

                            <div id="locationname">
                                <td>
                                    <a asp-controller="Gym" asp-action="LocationInfo" asp-route-id="@location.LocationId">@location.GymName</a>
                                </td>
                            </div>
                            <td>
                                <a asp-controller="Gym" asp-action="EditGymInfo" asp-route-id="@location.LocationId"><button>Edit</button></a>
                            </td>
                            <td>
                                <a asp-controller="Gym" asp-action="RemoveGymLocation" asp-route-id="@location.LocationId"><button>Delete</button></a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>


        </div>

        <a asp-controller="Gym" asp-action="AddLocation"><button>Add New Location</button></a>

    </body>