@model LocationsViewModel

@{
    ViewData["Title"] = "AllLocations";
}

<h2>All Locations</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>Location Name</th>



            </tr>
        </thead>
        <tbody>

            @foreach (var location in Model.Locations)
            {
                <tr>

                    <td>
                        <a asp-controller="Gym" asp-action="LocationInfo" asp-route-id="@location.LocationId">@location.GymName</a>
                        <a asp-controller="Gym" asp-action="EditGymInfo" asp-route-id="@location.LocationId">Edit</a>
                        <a asp-controller="Gym" asp-action="RemoveGymLocation" asp-route-id="@location.LocationId">Delete</a>


                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>

<a asp-controller="Gym" asp-action="AddLocation"><button>Add New Location</button></a>
