
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

<a asp-area="" asp-controller="Northwind" asp-action="Customer">View All Customers</a>
<a asp-area="" asp-controller="Northwind" asp-action="ACustomer">Search Customers</a>