
@{
    ViewData["Title"] = "Gym";
}

    <body class="gymhome">
        <h2>Gym</h2>

        <a asp-controller="Gym" asp-action="AllLocations"><button>View All Locations</button></a>
        <a asp-controller="Gym" asp-action="AddLocation"><button>Add New Location</button></a>


    </body>

