
@{
    ViewData["Title"] = "Gym";
}

<h2>Gym</h2>

<a asp-area="" asp-controller="Gym" asp-action="AllLocations"><button>View All Locations</button></a>
<a asp-controller="Gym" asp-action="AddLocation"><button>Add New Location</button></a>



