
@{
    ViewData["Title"] = "Products";
}

    <body class="products">
        <h2>Products Page</h2>

        <div>
            <a class="products" asp-area="" asp-controller="Northwind" asp-action="GetAllProducts">View All Products</a> |
            <a class="products" asp-area="" asp-controller="Northwind" asp-action="AddProduct">Add A Product</a> |
            <a class="products" asp-area="" asp-controller="Northwind" asp-action="SearchProduct">Search A Product</a>
        </div>
    </body>


