
@{
    ViewData["Title"] = "ProductDoesntExist";
}


    <body class="doesntexist">
        <h1>Uh oh! This product doesnt exist. Womp Womp.</h1>


        <a asp-controller="Northwind" asp-action="SearchProduct"><button class="doesntexist-btn">Search Another Product</button></a>

    </body>